.DS_Store
.build/
.swiftpm/
*.xcodeproj
!LottieDeveloper.xcodeproj
!LottieDeveloper.xcodeproj/**
xcuserdata/
DerivedData/
.index-build/
Packages/
cert_key
cert_key.pub
.packages/
.claude/settings.local.json
.claude/mcp.json
.claude/context.env
